NEXT_PUBLIC_OPN_RPC_URL=https://testnet-rpc.iopn.tech
NEXT_PUBLIC_OPN_EXPLORER_API_URL=
NEXT_PUBLIC_TRUSTSCORE_REGISTRY_ADDRESS=

# Smart Contract Deployment
OPN_RPC_URL=https://testnet-rpc.iopn.tech
PRIVATE_KEY=your_temporary_deployer_private_key_here
INITIAL_OWNER_ADDRESS=your_permanent_owner_wallet_address_here
